@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Practica Semana 2</h1>
    <h4>
        Raùl Duràn
    </h4>
    <p>
        En esta pràctica usaremos POO para crear el objeto Cliente y usarlo para crear los métodos de nuevo, todos, uno, actualizar y eliminar.
    </p>

    
</div>


